@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap");

body {
  background-image: url("./img/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: wrap;
  background-color: #89ac7a;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 3px;
}

input {
  height: 69px;
  width: 50%;
  top: 50%;
  font-size: 1em;
  border: 3px solid #9858ad;
  border-radius: 15px;
}

select {
  height: 70px;
  background: #9858ad;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  border-radius: 5px 5px 5px 5px;
}

.font-family {
  font-family: "DotGothic16", sans-serif;
}

.p-card {
  margin-bottom: 1px;
}

.btn-center {
  margin-left: 170px;
}

.logo-center {
  margin-left: 75px;
}

.padding-custom-encounters {
  padding-right: 0px;
  padding-left: 0px;
}

.pokegallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5px;
}

.poke-details {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 8%;
}

.poke-moves {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 50px;
}

.poke-encounters {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 50px;
}

.buttons-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
  margin: 50px;
}

.my-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 20rem;
  margin: 15px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 6px 10px 5px 0px rgba(199, 197, 199, 0.75);
}

.card-moves {
  display: inline-table;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  padding: 2px;
  margin: 10px;
  background-color: rgb(201, 201, 220);
  border-radius: 15px;
  box-shadow: 6px 7px 5px 0px rgba(216, 153, 111, 0.75);
}

.card-encounters {
  display: inline-table;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 1rem;
  padding: 2px;
  margin: 10px;
  background-color: rgb(201, 201, 220);
  border-radius: 15px;
  box-shadow: 6px 7px 5px 0px rgba(216, 153, 111, 0.75);
}

.my-auto {
  padding-top: 20vh;
  padding-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.custom-select {
  border: 3px solid #9858ad;
  width: 50%;
  border-radius: 8px;
  align-items: center;
}

.custom-select-width {
  width: 20%;
}

.serchBar {
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.img-container-details {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  min-width: 10%;
  min-height: 10%;
  text-align: center;
  margin-bottom: 10px;
}

.img-container img {
  margin-top: 20px;
  max-width: 50%;
}

.electric {
  background-color: rgb(251, 231, 151);
}

.steel {
  background-color: rgb(219, 219, 231);
}

.water {
  background-color: rgb(222, 243, 253);
}

.ice {
  background-color: rgb(203, 235, 235);
}

.bug {
  background-color: rgb(183, 171, 203);
}

.grass {
  background-color: rgb(187, 227, 167);
}

.dragon {
  background-color: rgb(151, 179, 230);
}

.fire {
  background-color: rgb(247, 191, 151);
}

.normal {
  background-color: rgb(211, 211, 187);
}

.flying {
  background-color: rgb(211, 199, 247);
}

.rock {
  background-color: rgb(219, 207, 155);
}

.psychic {
  background-color: rgb(231, 158, 180);
}

.fairy {
  background-color: rgb(247, 217, 224);
}

.ground {
  background-color: rgb(239, 223, 179);
}

.poison {
  background-color: rgb(187, 227, 167);
}

.fighting {
  background-color: rgb(230, 156, 153);
}

.dark {
  background-color: rgb(183, 171, 163);
}

.ghost {
  background-color: rgb(168, 151, 230);
}

.pagination {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

li {
  float: center;
}

li a {
  display: block;
  color: rgb(53, 52, 52);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(213, 208, 208);
}

.color-text-a {
  color: #fff;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.moves-detail {
  background-color: rgba(18, 230, 99, 0.2);
  border-radius: 15px;
  font-size: 0.8em;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 5px 5px 5px 5px;
}

.icon-type {
  margin: 0 40px -5px -100px;
}

.bg-color-white {
  margin-top: 10px;
  width: 100%;
  height: 26%;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.font-size {
  font-size: 12px;
}

.p-m-bottom {
  margin-top: 0;
  margin-bottom: 0.3rem;
}
